.plughtLogo{
  height: 200px;
  width: 1000px;

}
body{
	background-image: url("images/backLog.gif");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
